.container {
  display: flex;
  flex-direction: row;
}
.loginC {
  background-color: white;
  width: 50vw;
  height: 100vh;
}
.blank {
  background: var(--d--colors-semantic-primary, #0166ff);
  width: 50vw;
  height: 100vh;
}
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 25%;
}
.wlcm {
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.wlcm bck {
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
.input {
  gap: 13px;
  border-radius: var(--t--borders-radius-rounded-lg, 8px);
  border: 1px solid var(--d--colors-base-base-300, #d1d5db);
  background: var(--d--colors-base-base-100, #f3f4f6);
  width: 300px;
  height: 30px;
}
.input {
  gap: 13px;
  border-radius: var(--t--borders-radius-rounded-lg, 8px);
  border: 1px solid var(--d--colors-base-base-300, #d1d5db);
  background: var(--d--colors-base-base-100, #f3f4f6);
  width: 300px;
}
.inputc {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.sgnup {
  background-color: #0166ff;
  border-radius: 20px;
  height: 28px;
  border: transparent solid;
  color: white;
}
.wlcm_bck {
  font-size: 16p;
  font-family: sans-serif;
}
.login_btn {
  width: 306px;
  height: 30px;
  border-radius: 20px;
  border-radius: var(--t--borders-radius-rounded-lg, 8px);
  border: 1px solid var(--d--colors-base-base-300, #d1d5db);
  background: #0166ff;
  color: white;
}
.to_signup {
  font-family: sans-serif;
  font-size: 16px;
}
.ancher {
  color: #0166ff;
}
.to_login {
  border-radius: var(--t--borders-radius-rounded-lg, 8px);
  border: 1px solid var(--d--colors-base-base-300, #d1d5db);
  background: var(--d--colors-base-base-100, #f3f4f6);
  width: 300px;
  height: 30px;
}
.NavContainer {
  font-family: sans-serif;
}
.Recdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding-top: 15px;
  padding-left: 120px;
}
.Main {
  background-color: #f3f4f6;
  height: 100vmax;
}
.ExIn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 200px;
}
.main {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}
.avatar {
  align-items: center;
  display: flex;
}
.div {
  display: flex;
  align-items: center;
}
.DoughChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.LastRecord {
  margin-top: 50px;
}
.GeldExIn {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.Incomediv {
  width: 384px;
  height: 216px;
  top: 104px;
  left: 528px;
}
.Expensediv {
  display: flex;
  flex-direction: column;
  padding-left: 270px;
}
.InTop {
  background-color: white;
  border-radius: 10px;
  width: 384px;
  height: 56px;
  border: 0px, 0px, 1px, 0px;
  gap: 8px;
  display: flex;
  align-items: center;
  border: rgba(226, 232, 240, 1) solid;
}
.InBottom {
  background-color: white;
  border-radius: 10px;
  width: 384px;
  height: 156px;
  padding: 20px, 24px, 24px, 24px;
  gap: 16px;
  border: rgba(226, 232, 240, 1) solid;
}
.InAmount2 {
  padding-top: 70px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.UpFromMonth {
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.write {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1230px;
  height: 70px;
  background-color: white;
  border: rgba(226, 232, 240, 1) solid;
  border-radius: 10px;
}

.bodydiv {
  display: flex;
  flex-direction: column;
}
.MinusCash {
  display: flex;
  margin-left: 950px;
}
.cat {
  width: 1200px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 200px;
  margin-top: 25px;
  background-color: white;
  border: rgba(226, 232, 240, 1) solid;
  border-radius: 10px;
  display: flex;
  align-items:  center;
  justify-content: space-between;
}
.dog {
  display: flex;
  padding-left: 18px;
  text-align: center;
}
.trans {
  padding-bottom: 2px;
}
.time {
  padding-top: 2px;
}
.line {
  height: 0.000001px;
  width: 1000px;
  display: flex;
  border: red solid;
}
.LastRecordAmount {
  display: flex;
  width: 80vw;
  align-items: space-between;
  line-height: 16px;
  text-align: center;
}

.RecordNavbar {
  display: flex;
  text-align: center;
  height: 75px;
  padding-left: 40px;
  width: 96vw;

}
.Text1 {
  font-family: sans-serif;
  font-weight: 300;
}

.RecordBody {
  background-color: #f3f4f6;
  height: 100vmax;
  padding-left: 100px;
  padding: top 5px;
  font-family: sans-serif;
  display: flex;
}
.RecordsType {
  width: 300px;
  height: 93vh;
  background-color: white;
  border: rgba(226, 232, 240, 1) solid;
  border-radius: 10px;
  margin-top: 50px;
}
.RecordsInput {
  width: 250px;
  height: 23px;
  border-radius: 10px;
  border: grey solid;
  display: flex;
}
.checkbox {
  border-radius: 500px;
}
.CheckDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 13px;
}
.checkdiv {
  display: flex;
}
.Minordiv {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 15px;
  font-family: sans-serif;
}
.color {
  color: grey;
}
.Types {
  display: flex;
  padding-left: 15px;
  padding-top: 28px;
}
.TypesText {
  padding-left: 10px;
}
.RecordsText2 {
  padding-left: 5px;
  font-family: sans-serif;
}
.FD {
  padding-left: 10px;
}
.AddCategory {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.Torol {
  text-align: center;
}
.Category {
  padding-bottom: 2px;
}
.RecordsMainDiv {
  display: flex;
  flex-direction: column;
}
.addicon {
  display: flex;
  justify-content: center;
}
.Dashboard {
  font-family: sans-serif;
  font-weight: 400;
  size: 18px;
  padding-left: 25px;
}
.geldicon {
  padding-left: 100px;
}
.RecordsText {
  font-family: sans-serif;
  font-weight: 700;
  size: 16px;
  padding-left: 25px;
}
.RecordsIcon {
  display: flex;
  justify-content: flex-end;
}
.InputDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.Profile {
  padding-right: 70px;
  display: flex;
  align-items: center;
}
.ARD {
  padding-right: 20px;
}
.user {
  display: flex;
}
.avatar {
  display: flex;
}
.AddRecord {
  width: 803px;
  height: 34px;
  padding: 20px 24px 20px 24px;
  gap: 0px;
  border-radius: 1000000px;
  justify-content: space-between;
  opacity: 0px;
  font-family: sans-serif;
}
.IncomeButton {
  width: 172px;
  height: 40px;
  gap: 4px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  border: rgba(226, 232, 240, 1) solid;
}
.ExpenseButton {
  width: 172px;
  height: 40px;
  gap: 4px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}
.AmountInput {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 348px;
  height: 50px;
  opacity: 0px;
  padding-left: 20px;
}
.AddButton{
  width: 348px;
  height: 40px;
  border-radius: 40px;
  background-color:#0166ff;
  border: rgba(209, 213, 219, 1) solid;
  display: flex;
  justify-content: center;  
  margin-top: 20px;
  align-items: center;
  color: white;
}
.NoteInput{
width: 349px;
height: 280px;
display: flex;
justify-content: center;
border: rgba(209, 213, 219, 1) solid;
border-radius: 10px;
}
.NoteStyle{
font-family: sans-serif;
display: flex;
justify-content: center;
font-weight: 200;
}
  
.Style2{
  display: "flex";
  justify-content: center;
margin-top: 5px;
}
.Style3{
  width: "424px";
  height: "444px";
  display: "flex";
 flex-direction: column;
 padding-left: 26px;
}
.Style4{
display: flex;
flex-direction: column;
align-items: center;
}
.Style5{
  display: "flex";
justify-content: center;
}
.Call{
  margin-top: 40px;
  padding-left: 200px;
}
.RecordHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1230px;
  height: 70px;
  background-color: white;
  border: rgba(226, 232, 240, 1) solid;
  border-radius: 10px;
}
.Record{
  display: flex;
  align-items: center;
  width: 1230px;
  height: 70px;
  background-color: white;
  border: rgba(226, 232, 240, 1) solid;
  border-radius: 10px;
  justify-content: center;
  margin-left: 200px;
  margin-top: 55px;
  font-weight: 900  ;
}